/* Basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

/* Heading style using the id  */
#heading {
    color: #ea2709;
}

.back{
    color: #141ff4;
}

/* Button styling */
button {
    background-color: #e233b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}